
.boxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 30px 70px;
    background-color: #080808;
}

.box1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
   
}
.box1 p{
    font-size: 15px;
}

.box1 .button .select{
    width: 100px;
    height: 40px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;

}

.box2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
     
}
.box2 p{
    font-size: 15px;
}

.box3{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
     
}

.box3 p{
    font-size: 15px;
}


.box4{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
}

.box4 p{
    font-size: 15px;
}